<nav class="top-navigation">
  <ul>
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
    <li><a href="mailto:tina@bellvance.com?subject=Contact%20from%20%tinabellvance.com">Contact</a></li>
  </ul>
</nav>
