<h4>Elsewhere:</h4>
    <ul>
      <li><a href="https://www.linkedin.com/in/tinabellvance/">LinkedIn</a></li>
      <li><a href="https://github.com/tinabel/">GitHub</a></li>
      <li><a href="http://twitter.com/TinaBellVance">Twitter</a></li>
      <li><a href="https://www.instagram.com/tinabellvance/">Instagram</a></li>
    </ul>