<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

{% include "components/head.njk" %}

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKSWDR6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div class="container">
	{% include "components/nav.njk" %}
		<header class="masthead">
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
		</header>
		<div class="body">
			<div class="sidebar">
				{% include "components/sidebar.njk" %}

			</div>
			<main class="main-content">
				{{ layoutContent | safe }}
			</main>
		</div>

		{% include "components/footer.njk" %}
	</div>
</body>

</html>